.answer-choice-div {
  height: 40%;
  width: 30%;
  border-radius: 10px;
  background-color: #f8f4e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-choice-div:hover {
  height: 40%;
  width: 30%;
  border-radius: 10px;
  background-color: #d07d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.answer-choice-text {
  font-family: "Courier New", Courier, monospace;
  color: #262626;
  font-size: 1.7vw;
  text-align: center;
  width: 76%;
  padding: 0;
}

@media only screen and (min-width: 1130px) {
  .answer-choice-text {
    font-size: 120%;
  }
}

@media only screen and (max-width: 600px) {
  .answer-choice-div {
    height: 38%;
    width: 48.5%;
    border-radius: 10px;
    background-color: #f8f4e1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .answer-choice-text {
    font-size: 4vw;
  }
}

@media only screen and (600px < width <= 900px) {
}
