.house-background {
  height: 46%;
  width: 49%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-logo {
  width: 40%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .house-logo {
    width: 70%;
  }

  .house-background {
    height: 48%;
    width: 49%;
  }
}
