.house-background {
  height: 46%;
  width: 49%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-logo {
  width: 40%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .house-logo {
    width: 70%;
    height: auto;
  }

  .house-background {
    height: 48%;
    width: 49%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (600px < width <= 900px) {
  .house-logo {
    width: 60%;
    height: auto;
  }

  .house-background {
    height: 47.5%;
    width: 49%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
