@font-face {
  font-family: "caveathandwritten";
  src: url("/fonts/caveat-variable-fontweight400-700.ttf") format("truetype");
  font-weight: 400 700;
}

.four-colours {
  position: relative;
  width: 1100px;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-between;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

.sorting-hat {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 23%;
  height: auto;
  transform: translate(
    -50%,
    -58%
  ); /* moves the element backwards on the x and y axis by 50% of its own width and height respectively - ultimately centering it perfectly*/
}

.sorting-hat-enlarged {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 28%;
  height: auto;
  transform: translate(
    -50%,
    -58%
  ); /* moves the element backwards on the x and y axis by 50% of its own width and height respectively - ultimately centering it perfectly*/
  cursor: pointer;
}

.sorting-hat-greet {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  background-color: #f8f4e1;
  font-size: 150%;
  font-weight: bolder;
  color: #262626;
  padding: 1%;
  font-family: "Courier New", Courier, monospace;
  border: solid #262626 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 25%;
}

.sorting-hat-not-greet {
  display: none;
}

.parchment-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  aspect-ratio: 16 / 10;
}

.parchment {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.answer-choices {
  position: relative;
  width: 1100px;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-between;
  gap: 6%; /*for whatever reason, having a gap value of min 6% ensures 2 flex items per row and solves the flex wrapping issue*/
}

.question-heading {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 5%;
  color: #262626;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 250%;
}

.question-text {
  font-family: "caveathandwritten";
  font-size: 122%;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 22%;
  width: 80%;
  color: #262626;
  text-align: center;
}

.backward-icon {
  position: absolute;
  color: #262626;
  left: 50%;
  transform: translate(-50%);
  top: 82%;
  width: 4%;
  height: auto;
  cursor: pointer;
}

.backward-icon:hover {
  position: absolute;
  color: #262626;
  left: 50%;
  transform: translate(-50%);
  top: 82%;
  width: 5%;
  height: auto;
  cursor: pointer;
}

.backward-icon-end {
  position: absolute;
  color: #262626;
  left: 4%;
  top: 5%;
  width: 2.5%;
  height: auto;
  cursor: pointer;
}

.backward-icon-end:hover {
  position: absolute;
  color: #262626;
  left: 4%;
  top: 5%;
  width: 3.5%;
  height: auto;
  cursor: pointer;
}

.click-for-result {
  position: absolute;
  left: 50%;
  top: 42.5%;
  transform: translate(-50%);
  background-color: #f8f4e1;
  font-size: 150%;
  font-weight: bolder;
  color: #262626;
  padding: 1%;
  font-family: "Courier New", Courier, monospace;
  border: solid #262626 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.click-for-result:hover {
  position: absolute;
  left: 50%;
  top: 42.5%;
  transform: translate(-50%);
  background-color: #d07d3c;
  font-size: 150%;
  font-weight: bolder;
  color: #262626;
  padding: 1%;
  font-family: "Courier New", Courier, monospace;
  border: solid #262626 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.results-page {
  width: 1100px;
  margin-left: 2%;
  margin-right: 2%;
  box-sizing: border-box;
  background-color: #f8f4e1;
  height: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 18px;
}

.sorting-hat-result {
  width: 35%;
  height: auto;
}

.result-text {
  font-family: "caveathandwritten";
  text-align: center;
  color: #262626;
  font-size: 300%;
  width: 120%;
  margin: 0;
}

.house-logo-result {
  width: 32%;
  height: auto;
}

.result-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
  height: 80%;
  padding: 0;
}

.logos-div {
  width: 150%;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .sorting-hat {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 34%;
    height: auto;
    transform: translate(
      -50%,
      -58%
    ); /* moves the element backwards on the x and y axis by 50% of its own width and height respectively - ultimately centering it perfectly*/
  }

  .sorting-hat-not-greet {
    display: block;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%);
    background-color: #f8f4e1;
    font-size: 3.5vw;
    font-weight: bolder;
    color: #262626;
    padding: 1%;
    font-family: "Courier New", Courier, monospace;
    border: solid #262626 7px;
    border-radius: 10px;
    text-align: center;
    width: 45%;
    cursor: pointer;
  }

  .answer-choices {
    position: relative;
    width: 1100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    gap: 0;
    padding: 2%;
    box-sizing: border-box; /* ensures the padding and border remain within the 100% percentage height that has been set */
  }

  .parchment-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    aspect-ratio: 16 / 10;
  }

  .parchment {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
  }

  .question-heading {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 5%;
    color: #262626;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 7vw;
  }

  .question-text {
    font-family: "caveathandwritten";
    font-size: 3.8vw;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    width: 77%;
    color: #262626;
    text-align: center;
  }

  .backward-icon {
    position: absolute;
    color: #262626;
    left: 50%;
    transform: translate(-50%);
    top: 82%;
    width: 4%;
    height: auto;
    cursor: pointer;
  }

  .backward-icon-end {
    left: 5%;
    top: 3.5%;
    width: 5%;
    height: auto;
  }

  .click-for-result {
    top: 45%;
    font-size: 4.1vw;
    width: 75%;
    border: solid #262626 7px;
    border-radius: 10px;
  }

  .results-page {
    margin-left: 4%;
    margin-right: 4%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .sorting-hat-result {
    display: none;
  }

  .result-text {
    font-size: 10vw;
    width: 100%;
    margin: 0;
  }

  .result-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 70%;
    padding: 0;
  }

  .logos-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (600px < width <= 900px) {
  .sorting-hat {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 28%;
    height: auto;
    transform: translate(
      -50%,
      -58%
    ); /* moves the element backwards on the x and y axis by 50% of its own width and height respectively - ultimately centering it perfectly*/
  }

  .sorting-hat-not-greet {
    display: block;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%);
    background-color: #f8f4e1;
    font-size: 120%;
    font-weight: bolder;
    color: #262626;
    padding: 1%;
    font-family: "Courier New", Courier, monospace;
    border: solid #262626 7px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    cursor: pointer;
  }
}
